{% extends "layouts/landing.html" %}

{% block content %}
    <!-- Jumbotron Start -->
    <section class="mb-5">
        <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16">
            <div class="flex flex-col-reverse space-y-4 align-middle md:flex-row md:justify-center md:space-y-0 md:space-x-4">
                <div class="self-center flex flex-col mx-2 md:mx-6 mt-2 md:mt-0">
                    <h1 class="mb-2 lg:mb-4 text-4xl text-white font-extrabold font-raleway tracking-tight text-center md:text-left self-center text-text2 md:text-5xl lg:text-6xl">
                        <span><span class="text-third">AI-Powered</span> Strawberry</span>
                        <span>Diseases Detection</span>
                    </h1>
                    <a href="/upload" class="inline-flex justify-center items-center mx-auto w-fit py-3 px-8 sm:px-10 md:px-7 xl:px-8 my-3 md:mx-0 text-base uppercase font-montserrat font-bold text-center text-text hover:text-white rounded-md bg-third duration-300 hover:opacity-90 focus:ring-4 focus:ring-secondary">
                        Start now
                    </a>
                </div>
                <img class="h-auto lg:max-w-md max-w-sm self-center justify-items-center" src="static\assets\plant.png" alt="plant illustration">
            </div>
        </div>
    </section>
    <!-- Jumbotron End -->
{% endblock %}