{% block sidebar %}
    <!-- Navbar Start -->
    <nav class="bg-primary py-2 px-4 lg:px-0">
        <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
            <a href="/" class="flex items-center ml-4">
                <span class="self-center text-2xl md:text-3xl font-vibur whitespace-nowrap text-text hover:text-white duration-300">Strawberry Diseases Detection</span>
            </a>
            <button data-collapse-toggle="navbar-default" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-text hover:text-white rounded-lg md:hidden hover:bg-secondary focus:outline-none focus:ring-3 focus:ring-red-500 duration-300" aria-controls="navbar-default" aria-expanded="false">
                <span class="sr-only">Open main menu</span>
                <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
                </svg>
            </button>
            <div class="hidden w-full md:block md:w-auto" id="navbar-default">
                <ul class="font-medium flex flex-col p-4 md:p-0 mt-4 border border-gray-100 rounded-lg md:flex-row md:space-x-8 md:mt-0 md:mr-4 md:border-0">
                    <li class="mb-2 md:mb-0">
                        <a href="/" class="block py-2 pl-3 pr-4 text-base xl:text-lg font-montserrat font-semibold duration-300 rounded md:bg-transparent {% if page == 'home' %} text-white bg-secondary {% else %} text-slate-300 hover:text-white hover:bg-secondary hover:md:bg-transparent {% endif %}" aria-current="page">
                            Home
                        </a>
                    </li>
                    <li class="">
                        <a href="/about" class="block py-2 pl-3 pr-4 text-base xl:text-lg font-montserrat font-semibold duration-300 rounded md:bg-transparent {% if page == 'about' %} text-white bg-secondary {% else %} text-slate-300 hover:text-white hover:bg-secondary hover:md:bg-transparent {% endif %}" aria-current="page">
                            About
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Navbar End -->
{% endblock %}
