{% extends "layouts/app.html" %}

{% block content %}
    <!-- Main Start -->
    <section class="p-4 sm:ml-64">
        <div class="p-4">
            <h2 class="text-3xl md:text-4xl font-montserrat font-bold text-primary mt-2">Detect from Camera</h2>
            <!-- DYNAMIC - Image -->
            <div class="w-full md:w-4/5 p-4 bg-white border border-gray-200 rounded-lg shadow-lg mx-auto mt-10">
                <img id="video-stream" class="w-full rounded-md bg-lime-400" alt="Result of Scan Camera">
            </div>
            <!-- DYNAMIC - Label -->
            <div class="max-w-sm mx-auto mt-10 min-h-fit">
                <div class="w-2/3 flex flex-row justify-between lg:mt-4 mx-auto p-4 bg-primary rounded-lg shadow hover:shadow-lg md:hover:shadow-xl hover:shadow-gray-300 hover:border-primary transition duration-300 ease-in-out md:hover:scale-125 text-text hover:text-white font-montserrat font-semibold">
                    <h3 class="text-base -mt-2 -ml-1 font-montserrat font-medium">Result</h3>
                    <p class="text-right text-xl lg:text-2xl -mb-2 font-montserrat font-semibold pt-4">LABEL</p>
                </div>
            </div>
        </div>
    </section>
    <!-- Main End -->
    <script>
        const videoStream = document.getElementById('video-stream');
        videoStream.src = "{{ url_for('video_feed') }}";
    </script>
{% endblock %}